.button{
  font-size: 14px;
  line-height: 24px;
  width: 224px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  @include media-xxl{
    width: 187px;
    height: 53px;
  }

  @include media-xl{
    width: 177px;
    font-size: 12px;
    line-height: 24px;
  }

  &--green{
    background: $lightgreen;
    color: white;

    &:hover{
      background: #029138;
    }
  }
}