.request{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  @include media-xxl{
    flex-direction: column;
    gap: 30px;
    align-self: flex-start;
    align-items: flex-start;
  }

  &__value{
    display: flex;
    align-items: center;
    gap: 30px;

    .amount{
      display: flex;
      align-items: stretch;
      gap: 5px;
      border: 1px solid #E8E8E8;
      box-sizing: border-box;
      padding: 11px 14px 12px;

      &__button{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 14px;
        height: 14px;
        align-self: center;

        &.minus span{
          width: 13px;
          height: 1px;
          border-radius: 1px;
          background: $gray;
        }

        &.plus span{
          width: 13px;
          height: 1px;
          border-radius: 1px;
          background: $gray;
          position: absolute;

          &:first-child{
            transform: rotate(90deg);
          }
        }

        &:disabled{
          opacity: 0.5;
          cursor: default;
        }
      }

      &__input{
        width: 57px;
        text-align: center;
        font-size: 16px;

        @include media-xxl{
          width: 46px;
        }
      }
    }

    &-wallet{
      font-size: 22px;
      line-height: 31px;
      font-weight: 700;

      @include media-xxl{
        display: none;
      }
    }
  }
}