.product{
  display: flex;
  align-items: stretch;
  gap: 155px;
  max-width: 1490px;
  margin: 0 auto;

  @include media-xxl{
    max-width: 1380px;
    gap: 95px;
  }

  @include media-xl{
    max-width: 1076px;
    gap: 40px;
  }

  @include media-lg{
    max-width: 968px;
  }

  @include media-md{
    max-width: 596px;
    gap: 51px;
    flex-direction: column;
  }

  @include media-sm{
    max-width: unset;
    gap: 40px;
  }

  &__images{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
    max-width: 620px;

    @include media-xl{
      max-width: 518px;
      gap: 25px;
    }

    @include media-lg{
      max-width: 464px;
      gap: 23px;
    }

    @include media-md{
      gap: 31px;
      max-width: 596px;
    }

    @include media-sm{
      max-width: unset;
      gap: 15px;
    }
  }

  &__info{
    display: flex;
    flex-direction: column;
    max-width: 529px;

    @include media-lg{
      max-width: 463px;
    }

    @include media-md{
      max-width: 596px;
    }

    &-title{
      font-size: 60px;
      line-height: 78px;
      margin-bottom: 32px;

      @include media-xxl{
        font-size: 52px;
        line-height: 68px;
        margin-bottom: 30px;
      }

      @include media-xl{
        font-size: 44px;
        line-height: 57px;
        margin-bottom: 25px;
      }

      @include media-lg{
        font-size: 38px;
        line-height: 49px;
        margin-bottom: 30px;
      }

      @include media-md{
        font-size: 30px;
        line-height: 39px;
      }

      @include media-sm{
        font-size: 26px;
        line-height: 34px;
      }
    }

    &-desc{
      font-size: 16px;
      line-height: 24px;
      color: $lightgray;

      @include media-xxl{
        font-size: 14px;
        line-height: 25px;
      }

      @include media-xl{
        line-height: 24px;
      }

      @include media-md{
        line-height: 22px;
      }
    }

    .chars{
      display: flex;
      align-items: stretch;
      gap: 10px;
      margin: 50px 0 28px;

      @include media-xxl{
        margin: 40px 0 0;
      }

      @include media-xl{
        margin-top: 30px;
      }

      @include media-sm{
        flex-wrap: wrap;
      }

      &__item{
        font-size: 14px;
        line-height: 28px;
        padding: 3px 8px 2px;
        background: #CCE1CC;
      }
    }

    .way{
      display: flex;
      align-items: center;
      gap: 31px;
      position: relative;
      align-self: flex-start;

      @include media-xxl{
        display: none;
      }

      &__name{
        font-size: 14px;
        line-height: 21px;
        color: $lightgray;
      }

      &__select{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        width: 194px;
        box-sizing: border-box;
        padding: 7px 14px;
        border: 1px solid #F3F4F4;
        transition: 0.2s;

        &:hover{
          border-color: $lightgreen;
          cursor: pointer;
        }

        &-text{
          font-size: 14px;
          line-height: 21px;
          color: $lightgray;
        }

        &-icon{
          width: 16px;
          height: 16px;
          transition: 0.3s;

          &.active{
            transform: rotate(180deg);
          }
        }
      }

      &__hidden{
        position: absolute;
        right: 0;
        top: 45px;
        width: 194px;
        box-sizing: border-box;
        padding: 7px 14px;
        border: 1px solid #F3F4F4;
        display: flex;
        flex-direction: column;
        gap: 4px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        background: white;

        &.active{
          opacity: 1;
          visibility: visible;
        }

        &-item{
          font-size: 14px;
          line-height: 21px;
          color: $lightgray;
          transition: 0.2s;

          &.active{
            color: $lightgreen;
          }

          &:hover{
            cursor: pointer;
            color: $lightgreen;
          }
        }
      }
    }

    .price{
      display: flex;
      align-items: center;
      gap: 67px;
      margin: 30px 0;
      padding-left: 5px;

      @include media-xxl{
        gap: 32px;
      }

      @include media-xl{
        margin: 25px 0;
      }

      &__old{
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        position: relative;

        &:after{
          content: '';
          position: absolute;
          background: rgba(11, 126, 19, 0.7);
          height: 3px;
          border-radius: 3px;
          right: -6px;
          left: -6px;
          top: 9px;
        }
      }

      &__new{
        font-size: 22px;
        font-weight: 700;
        line-height: 31px;

        @include media-xxl{
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
  }
}