@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

h1{
  font-size: 72px;
  font-weight: 700;
  line-height: 94px;
  font-family: 'Oswald', sans-serif;
}
h2{
  font-size: 62px;
  font-weight: 700;
  line-height: 81px;
  font-family: 'Oswald', sans-serif;
}
h3{
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  font-family: 'Oswald', sans-serif;
}
h4{
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  font-family: 'Oswald', sans-serif;
}
h5{
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  font-family: 'Oswald', sans-serif;
}
h6{
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}