$screen-sm: 767.98px;
$screen-md: 991.98px;
$screen-lg: 1199.98px;
$screen-xl: 1599.98px;
$screen-xxl: 1919.98px;

@mixin media-sm {
  @media (max-width: $screen-sm) {
    @content;
  }
};

@mixin media-md {
  @media (min-width: $screen-sm + 0.02) and (max-width: $screen-md) {
    @content;
  }
};

@mixin media-lg {
  @media (min-width: $screen-md + 0.02) and (max-width: $screen-lg) {
    @content;
  }
};

@mixin media-xl {
  @media (min-width: $screen-lg + 0.02) and (max-width: $screen-xl) {
    @content
  }
};

@mixin media-xxl {
  @media (min-width: $screen-xl + 0.02) and (max-width: $screen-xxl) {
    @content
  }
};